<div class="__menu">
    <div class="__menu__item">
        <h1 class="__menu__item__title">NOS PRODUITS</h1>
        <div class="__menu__item__content produits">
            <p>
                NOS <br/>
                PRODUITS
                <img src="../img/almonds.png" alt=""/>
            </p>
            <h4 class="__menu__item_info">+info</h4>
        </div>
    </div>
    <div class="__menu__item">
        <h1 class="__menu__item__title">NOS VALEURS</h1>
        <div class="__menu__item__content valeurs">
            <p>
                <b>GLUTEN</b> FREE <br/>
                LACTOSE FREE
            </p>
            <h4 class="__menu__item_info">+info</h4>
        </div>
    </div>
    <div class="__menu__item">
        <h1 class="__menu__item__title">NOTRE HISTOIRE</h1>
        <div class="__menu__item__content histoire">
            <img src="../img/history.png" alt=""/>
            <h4 class="__menu__item_info">+info</h4>
        </div>
    </div>
    <div class="__menu__item active">
        <h1 class="__menu__item__title">NOUS CONTACTER</h1>
        <div class="__menu__item__content contact">
            <a href="tel:+33616582866">+33 6 16 58 28 66</a>
            <p>
                <b>LA COURS BLEU</b> <br/>
                BHV MARAIS <br/>
                <small>7j/7 - 12h00 - 19h00</small>
            </p>
            <hr/>
            <p>
                <b>GARE DU NORD</b> <br/>
                <small>7j/7 - 12h00 - 19h00</small>
            </p>
            <h4 class="__menu__item_info">+info</h4>
        </div>
    </div>
</div>
