<div class="menu">
  <div class="items">
    <div class="menu_block products">NOS PRODUITS</div>
    <div class="menu_block concept">NOTRE CONCEPT</div>
    <div class="menu_block story">NOTRE HISTOIRE</div>
    <div class="menu_block contact">NOUS CONTACTER</div>
  </div>
</div>
