<div class="__menu">
    <div class="__menu__item">
        <h1 class="__menu__item__title">NOS PRODUITS</h1>
        <div class="__menu__item__content">

        </div>
    </div>
    <div class="__menu__item">
        <h1 class="__menu__item__title">NOS VALEURS</h1>
        <div class="__menu__item__content">

        </div>
    </div>
    <div class="__menu__item">
        <h1 class="__menu__item__title">NOTRE HISTOIRE</h1>
        <div class="__menu__item__content">

        </div>
    </div>
    <div class="__menu__item">
        <h1 class="__menu__item__title">NOUS CONTACTER</h1>
        <div class="__menu__item__content">

        </div>
    </div>
</div>
