<div class="menu">
    <div class="menu__item menu__item--active">
        <h1 class="menu__itemTitle">QUI SUIS-JE ?</h1>
        <div class="menu__itemContent menu__itemContent--produits">
            <p>
                QUI <br/>
                SUIS-JE ?
                <img src="../img/almonds.png" alt=""/>
            </p>
            <h4 class="menu__itemInfo">+info</h4>
        </div>
    </div>
    <div class="menu__item">
        <h1 class="menu__itemTitle">SUIS MOI !</h1>
        <div class="menu__itemContent menu__itemContent--social">
            <img src="../img/social.png" alt=""/>
            <h4 class="menu__itemInfo">+info</h4>
        </div>
    </div>
    <div class="menu__item">
        <h1 class="menu__itemTitle">MON PAPA</h1>
        <div class="menu__itemContent menu__itemContent--papa">
            <img src="../img/history.png" alt=""/>
            <h4 class="menu__itemInfo">+info</h4>
        </div>
    </div>
    <div class="menu__item">
        <h1 class="menu__itemTitle">NOTRE SECRET</h1>
        <div class="menu__itemContent menu__itemContent--contact">
            <a href="tel:+33616582866">+33 6 16 58 28 66</a>
            <p>
                <b>LA COURS BLEU</b> <br/>
                BHV MARAIS <br/>
                <small>7j/7 - 12h00 - 19h00</small>
            </p>
            <hr/>
            <p>
                <b>GARE DU NORD</b> <br/>
                <small>7j/7 - 12h00 - 19h00</small>
            </p>
            <h4 class="menu__itemInfo">+info</h4>
        </div>
    </div>

    <div class="menu__links">
        <div class="menu__linksLink">
            <img src="./img/facebookLink.svg" alt=""/>
        </div>
        <div class="menu__linksLink">
            <img src="./img/instagramLink.svg" alt=""/>
        </div>
        <div class="menu__linksLink">
            <img src="./img/locationLink.svg" alt=""/>
        </div>
    </div>
</div>
