<nav class="nav">
    <div class="nav__block left">
        <div class="nav__blockItem location">
            <img src="img/locationNav.svg" alt="location" />
        </div>
    </div>
    <div class="nav__block center">
        <div class="nav__blockItem logo">
            <img src="img/logoNav.png" alt="logo" />
        </div>
    </div>
    <div class="nav__block right">
        <div class="nav__blockItem menu">
            <img src="img/menuNav.svg" alt="menu" />
        </div>
    </div>
</nav>
