<nav class="nav">
  <div class="nav__block left">
    <div class="nav__block--item location">
      <img src="img/locating.png" alt="location" />
    </div>
  </div>
  <div class="nav__block center">
    <div class="nav__block--item logo">
      <img src="img/logo_mobile.png" alt="logo" />
    </div>
  </div>
  <div class="nav__block right">
    <div class="nav__block--item menu">
      <img src="img/menu-button.png" alt="menu" />
    </div>
  </div>
</nav>
