<nav class="__nav">
  <div class="__nav-block __left">
    <div class="__nav-item __nav-location">
      <img src="img/locating.png" alt="location" />
    </div>
  </div>
  <div class="__nav-block __center">
    <div class="__nav-item __nav-logo">
      <img src="img/logo_mobile.png" alt="logo" />
    </div>
  </div>
  <div class="__nav-block __right">
    <div class="__nav-item __nav-menu">
      <img src="img/menu-button.png" alt="menu" />
    </div>
  </div>
</nav>
