<<<<<<< HEAD
<nav class="nav">
    <div class="nav__block left">
        <div class="nav__blockItem location">
            <img src="img/locationNav.svg" alt="location" />
        </div>
    </div>
    <div class="nav__block center">
        <div class="nav__blockItem logo">
            <img src="img/logoNav.png" alt="logo" />
        </div>
    </div>
    <div class="nav__block right">
        <div class="nav__blockItem menu">
            <img src="img/menuNav.svg" alt="menu" />
        </div>
=======
<nav class="__nav">
  <div class="__nav-block __left">
    <div class="__nav-item __nav-location">
      <img src="img/nav-locate.png" alt="location" />
    </div>
  </div>
  <div class="__nav-block __center">
    <div class="__nav-item __nav-logo">
      <img src="img/nav-logo.png" alt="logo" />
    </div>
  </div>
  <div class="__nav-block __right">
    <div class="__nav-item __nav-menu">
      <img src="img/nav-menu.png" alt="menu" />
>>>>>>> dfa670617c934b3a6f51e4c41caf19929a39eb42
    </div>
</nav>
