.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 100;
}


.nav__block {
  width: 33.33%;

  &.left {
    text-align: left;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }
}

.nav__blockItem {
  width: 40px;
  height: 40px;
  margin: 20px;
  display: inline-block;
  cursor: pointer;

  img {
    height: 40px;
  }

  &.logo {
    height: 60px;
    width: 60px;

    img {
        height: 60px;
    }

  }

}
