.__home {
    background-color: $peach;
}

.__home__container {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(-13deg, $peach 50%, $darkPeach 50%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.__home__container__img {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        max-width: 70%;
    }
}

.__home__container__bottom {
    position: absolute;
    bottom: 0;
    text-align: center;
    display: block;

    h1 {
        color: white;
        font-weight: bold;
        font-size: 20px;
    }

    img {
        width: 25px;
        margin: 15px 0;
    }
}

.__home__menu {
    width: 100vw;
    height: 100vh;
}
