.home {
    height: 100%;
    background-color: $peach;
}

.home__scroll {
    position: relative;
    height: 100%;
    top:0;
    @include transition(all, 0.5s, ease, 0s);
}

.home__container, .home__menu {
    position: relative;
    width: 100%;
    height: 100%;
}

.home__container {
    background-image: linear-gradient(-13deg, $peach 50%, $darkPeach 50%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home__container--img {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        max-width: 70%;
    }
}

.home__container--bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: block;

    p {
        color: white;
        font-weight: bold;
        font-size: 20px;
    }

    img {
        width: 25px;
        margin: 15px 0;
    }
}
