<div class="produits__item {{ type }}">
    <div class="produits__itemContainer">
        <div class="produits__itemTitle">
            <h2>{{ item.name }}</h2>
        </div>
        <div class="produits__itemImg">
            <img src="../img/{{ item.image }}.png" alt="">
        </div>
    </div>
</div>
