<div class="produits__item">
    <div class="produits__itemContainer">
        <div class="produits__item--title">
            <h2>{{ item.name }}</h2>
        </div>
        <div class="produits__item--img">
            <img src="../img/{{ item.image }}.png" alt="">
        </div>
    </div>
</div>
