{# preload.twig #}

<div class="preload__container">
    <div class="preload__containerImg">
        <img src="img/batonnet.png" alt="batonnet" />
    </div>

    <article>
        <div class="preload__containerLogo">
            <img src="img/logo_preload.png" alt="logo" />
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elidat. Donec sed fermentum dui. Aenean iacdadiazdadajzulis sagittis </p>
    </article>

</div>
