{# contact.twig #}
{% extends "layout/layout.twig" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="contact">
    <div class="contact__container">
        <h3>Il n’y a pas d’heure pour un secret !</h3>
        <article>
            <p class="contact__articleFirst">LUNDI</p>
            <p class="contact__articleSecond">VENDREDI</p>
        </article>
        <p class="contact__time">
            11h00 : 19h00
        </p>
        <div class="contact__find">
            <p>TROUVEZ NOTRE BOUTIQUE LA PLUS PROCHE</p>
        </div>
    </div>
</div>

{% endblock %}
/con
