{# contact.twig #}
{% extends "layout/layout.twig" %}

{% block head %}
{% endblock %}



{% block body %}
<div class="contact">
    <div class="contact__container">
            <h1>NOUS CONTACTER</h1>
    </div>
    <div class="contact__container__days">
        <p id="lundi">LUNDI</p>
        <p id="dimanche">DIMANCHE</p>
    </div>

    <div class="__menu">
        <div class="__menu__links">
            <div class="__menu__link">
                <img src="./img/facebookLink.svg" alt=""/>
            </div>
            <div class="__menu__link">
                <img src="./img/instagramLink.svg" alt=""/>
            </div>
            <div class="__menu__link">
                <img src="./img/locationLink.svg" alt=""/>
            </div>
        </div>
    </div>
</div>


{% endblock %}
