{# index.twig #}
{% extends "layout/layout.twig" %}

{% block head %}
<script defer src="js/home.min.js"></script>
{% endblock %}

{% block body %}
{% include 'preload/preload.twig' %}

<div class="home">
    <div class="home__scroll">
        <div class="home__container">
            <div class="home__container--img">
                <img src="../img/gauffre_abricot.png" alt="" />
            </div>
            <div class="home__container--bottom">
                <p>
                    CROQUEZ MOI
                </p>
                <img src="../img/down_arrow_white.svg" alt=""/>
            </div>
        </div>
        <div class="home__menu">
            {% include 'menu/menu.twig' %}
        </div>
    </div>
</div>

{% endblock %}
