{# index.twig #}
{% extends "layout/layout.twig" %}

{% block body %}
<div class="__home">
  <div class="__container">
    <div class="__container__img">
      <img src="../img/gauffre_abricot.png" alt="" />
    </div>
    <div class="__container__title">
      <H1>DECOUVRIR NOTRE CONCEPT</H1>
    </div>
  </div>
</div>
{% endblock %}
