{# index.twig #}
{% extends "layout/layout.twig" %}

{% block body %}
<div class="__home">
  <div class="__container">
    <div class="__container_img"></div>
    <div class="container__title">
      <H1>DECOUVRIR NOTRE CONCEPT</H1>
    </div>
  </div>
</div>
{% endblock %}
