{# index.twig #}
{% extends "layout/layout.twig" %}

{% block head %}
<script defer src="js/home.min.js"></script>
{% endblock %}

{% block body %}
<div class="__home">
    <div class="__home__container">
        <div class="__home__container__img">
            <img src="../img/gauffre_abricot.png" alt="" />
        </div>
        <div class="__home__container__bottom">
            <h1>
                DECOUVRIR
                <br/>
                NOTRE CONCEPT
            </h1>
            <img src="../img/down_arrow_white.svg" alt=""/>
        </div>
    </div>
    <div class="__home__menu">
        {% include 'menu/menu.twig' %}
    </div>
</div>

{% endblock %}
