{# index.twig #}
{% extends "layout/layout.twig" %}

{% block head %}
<script defer src="js/produits.min.js"></script>
{% endblock %}

{% block body %}
<div class="__produits">

</div>

{% endblock %}
