{# produits.twig #}
{% extends "layout/layout.twig" %}

{% block head %}
<script defer src="js/produits.min.js"></script>
{% endblock %}

{% block body %}
<div class="produits__container">
    <div class="produits__items">
        <div class="produits__item">
            <div class="produits__item--title">
                <h2>LA CREME DE VANILLE</h2>
            </div>
            <div class="produits__item--img">
                <img src="../img/gauffre_abricot.png" alt="">
            </div>
        </div>
    </div>
    <div class="produits__gouts">
        <div class="produits__gout sale">
            SALÉE
        </div>
        <div class="produits__gout sucre">
            SUCRÉE
        </div>
    </div>
    <div class="produits__informations">
        <h1>
            PLUS D'INFORMATIONS
        </h1>
        <img src="../img/down_arrow_white.svg" alt=""/>
    </div>
</div>
{% include 'produits/informations.twig' %}


{% endblock %}
