{# social.twig #}
{% extends "layout/layout.twig" %}

{% block head %}
{% endblock %}

{% block body %}

<div class="social">
    <div class="social__container">
        <div class="social__containerTitle">
            <h3>SUIS - MOI !</h3>
        </div>
        <div class="social__instagram">
            <h4>INSTAGRAM</h4>
            <div class="social__instagramImg">

            </div>
        </div>
    </div>
</div>

{% endblock %}
