{# story.twig #}
{% extends "layout/layout.twig" %}

{% block head %}
{% endblock %}

{% block body %}

<div class="story">
    <div class="story__scroll">
        <div class="story__container story__containerFirst">
            <div class="story__title">
                <h3>MON PAPA et..</h3>
            </div>

            <article class="story__article">
                <h4>MA FAMILLE</h4>
                <div class="story__articleImg">
                    <img src="img/almonds.png" alt="">
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elidat. Donec sed fermentum dui. Aenean iacdadiazdadajzulis sagittis </p>
            </article>
            <div class="story__more">
                <img src="../img/down_arrow_white.svg" alt=""/>
            </div>
        </div>
        <div class="story__container">
            <article class="story__article">
                <h4 class="story__articleTitle">MA COMPAGNIE</h4>
                <div class="story__articleImg">
                    <img src="img/history.png" alt="">
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elidat. Donec sed fermentum dui. Aenean iacdadiazdadajzulis sagittis </p>
            </article>
            <div class="story__more">
                <img src="../img/down_arrow_white.svg" alt=""/>
            </div>
        </div>
        <div class="story__container">
            <article class="story__article">
                <h4 class="story__articleTitle">MON STYLISTE</h4>
                <div class="story__articleImg">
                    <img src="img/almonds.png" alt="">
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elidat. Donec sed fermentum dui. Aenean iacdadiazdadajzulis sagittis </p>
            </article>
            <div class="story__more">
                <img src="../img/down_arrow_white.svg" alt=""/>
            </div>
        </div>
    </div>
</div>

{% endblock %}
