.menu {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu__links {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;

    .menu__linksLink {
        display: inline-block;
        margin: 0 10px;
    }
}



.menu__item {
    width: 100%;
    padding: 20px 0;
    .menu__itemTitle {
        font-size: 20px;
        color:white;
        opacity: 0.5;

        @include transition(all, 0.5s, ease, 0s);
    }

    .menu__itemContent {
        position: relative;
        height: 0;
        padding: 0;
        overflow: hidden;
        opacity: 0;

        @include transition(all, 0.5s, ease, 0s);

        p {
            font-weight: bold;
        }

    }

    .menu__itemInfo {
        color: $orange;
        font-size: 20px;
        cursor: pointer;
    }
}

.menu__item.menu__item--active {
    .menu__itemTitle {
        font-size: 24px;
        color: $orange;
        opacity: 1;
    }

    .menu__itemContent {
        height: 120px;
        padding-top: 20px;
        opacity: 1;
        &.menu__itemContent--contact,
        &.menu__itemContent--social {
            height: 200px;
        }
    }
}

.menu__itemContent {
    &.menu__itemContent--produits {
        p {
            color: white;
            font-size: 40px;
        }
        img {
            position: absolute;
            top: 20px;
            margin-left: -30px;
        }
    }

    &.menu__itemContent--social {
        img {
            height: 140px;
            margin-bottom: 10px;
        }
    }

    &.menu__itemContent--papa {
        img {
            height: 80px;
        }
    }

    &.menu__itemContent--contact {
        color: white;
        font-size: 24px;

        a {
            text-decoration: none;
        }

        p {
            margin: 10px 0;
            font-size: 18px;

            b {
                color: $blue;
            }

            small {
                font-weight: normal;
            }
        }

        hr {
            color: white;
            background-color: white;
            border: 0;
            width: 20%;
            margin-left: 40%;
            opacity: 0.5;
            height: 2px;
        }
    }
}
